body{
    overflow-x: hidden;
}

.AnimatedHeader{
    background-image: url(Img/green-mountain-hills.jpg);
    background-size: cover;
    height: 120vh;
    width: 100vw;
    left: -20px;
    top: -20px;
    position: absolute;
    background-attachment: fixed;
    filter: blur(2px);
    -webkit-filter: blur(2px);


}


.header{
     height: 120vh;
    width: 100vw;
    left: -20px;
    top: -20px;
    position: absolute;
}

#Mountain{
    bottom: 0px;
    position: absolute;
    left: -70px;
    width: 80%;
    z-index: 2;
    pointer-events: none;
}

#cloud1{
    pointer-events: none;
    position: inherit;
    width: 30%;
    z-index: 3;
    right: -550px;
    animation-name: Lefty;
    animation-duration: 50s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;
}


#cloud2{
 position: absolute;
 width: 40%;
 z-index: 3;
 top: 50%;
 left: 120%; 
pointer-events: none;
    animation-name: Lefty2;
    animation-duration: 45s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;    
    animation-delay: 3s;
}

.Maintext{
    width: 100%;
    text-align: center;
    top: 20%;
    position: fixed;
    font-size: 200px;
    color: white;
    margin-left: -40px;
}

@keyframes Lefty{
    0%{opacity: 0;}
    1%{right: -550px;
        opacity: 1}
    2%{right: -550px;}
    99%{right:120%;
        opacity: 1;}
    100%{right: 120%;
        opacity: 0;}
}

@keyframes Lefty2{
    0%{opacity: 0;}
    1%{left: 120%;
        opacity: 1}
    2%{left: 120%;}
    99%{left:-550px;
        opacity: 1;}
    100%{left: -550px;
        opacity: 0;}
}

.Nav{
    position: sticky;
    top: 90vh;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 4;
    padding: 20px;
    left: 0px;
    margin: auto;
    margin-left: -20px;
    margin-bottom: -20px;
    border-radius: 140px 140px 0px 0px;
    box-shadow: 6px 1px 6px;
}

.content{
    position: relative;
    top: 115vh;
    height: 100vh;
    width: 100%;
    background-color: white; 
    z-index: 4;
    padding: 20px;
    left: 0px;
    margin: auto;
    margin-left: -20px;
    
}
.Login{
    text-align: center;
    margin: auto;
    width: 280px;
    background-color: green;
    padding: 10px;
    border-radius: 45px;
    color: white;
    left: 0px;
    right: 0px;
    border: none;
    z-index: 1;
    position: fixed;
    top: 60%;
    font-size: 35px;
}
.Login:hover{
    opacity: 0.8;
    filter: brightness(1.2)
}